/* Any demo specific styling needed for this tutorial only */
html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    font-size: 14px;
    font-family: Calibri;
    font-weight: 100;
    background-color: #bcbec0;
    /*background-image: linear-gradient(transparent 50%, rgba(255, 255, 255, 0.5) 25%);*/
    background-size: 4px 4px;
}

#App {
    height: 100%;
}

html, body, #AppBorderContainer {
    width: 100%; height: 100%;
    border: 0; padding: 0; margin: 0;
}

.claro .demoLayout .edgePanel {
    background-color: #d0e9fc;
}

.claro .BorderHeader {
    border: none;
    background-color: white;
    color: black;
}

.claro .BorderHeader h5 {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    float:left
}

.claro .EdgeHeader {
    font-size: 20px;
    font-weight: bold;
    border: none;
    text-align: center;
    background-color: #ED1C24;
    color: white;
}

.claro .EdgeCenter {
    border: none;
    background-color: white;
}

.claro .EdgeFooter {
    font-size: 16px;
    font-weight: bold;
    border: none;
    text-align: center;
    background-color: rgb(143, 43, 140);
    color: white;
}

.claro .EdgeFooter a:link {
    color: white; 
    text-decoration: underline; 
}

.claro .EdgeFooter a:visited {
    color: white; 
    text-decoration: underline; 
}

#AppMain {
    overflow: hidden;
}

#AppLHS{
    width: 180px;
    overflow-x: hidden;
}

#AppMap{
    width: 270px;
    height: 200px;
    padding: 0px;
    overflow: hidden;
}

.threeD {
    box-shadow: 0 4px 8px #333333;
    margin: 8px;
}
