.zoomLayer {
    cursor: move;
    fill: none;
    stroke: red;
    pointer-events: all;
}

.edge {
    fill: none;
    stroke: #666;
    stroke-width: 0.75px;
}

marker {
    fill: #666;
    stroke: none;
}

.edge-active {
    stroke-opacity: 1;
    stroke-width: 2.0px;
}

.scaleVertex .shape {
    fill: #000;
}

.scaleVertex .icon {
    fill: white;
}

.scaleVertex.category0 .shape {
    fill: #1f77b4;
}

.scaleVertex.category1 .shape {
    fill: #ff7f0e;
}

.scaleVertex.category2 .shape {
    fill: #2ca02c;
}

.scaleVertex.loading .shape {
    fill: red;
}

.icon {
    pointer-events: none;
}

image path {
    stroke: red;
    fill: white;
    color: green;
}

.label {
    font: 11px sans-serif;
    fill: black;
    pointer-events: none;
}

.labelRect {
    fill: #ffffff;
    fill-opacity: .7;
    stroke-width: 0px;
    pointer-events: none;
}

.category0 .labelRect {
    fill: #dcf1ff;
    stroke: #1f77b4;
}

.category1 .labelRect {
    fill: #ffe4cb;
    stroke: #ff7f0e;
}

.category2 .labelRect {
    fill: #d6ffd6;
    stroke: #2ca02c;
}
